.auth-form {
    &_inputs-size {
        width: 100%;
        height: 25px;
        margin-bottom: 24px;
        display: flex;
        border-bottom: 1px solid #D2E3E8;
    }
    &_formcontrol {
        width: 100%;
        padding-top: 2px;
        padding-bottom: 5px;
        resize: none;
        border: none;
        color: #000;
        background: transparent;
        margin-left: 85px;
        &::placeholder {
            color: #fff;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            //line-height: 1.5;
        }
    }
    &-remember {
        display: flex;
    }
    &-confidentiality__text {
        margin-left: 12px;
        width: 80%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        margin-top: 0px;

        color: #FFFFFF;
    }
    &_inputs-resize {
        width: 60%;
        height: 25px;
        margin-bottom: 24px;
        display: flex;
        border-bottom: 1px solid #D2E3E8;
    }
    &_inputs-resize-mini {
        border-bottom: 1px solid #D2E3E8;
        position: absolute;
        right: 0;
        height: 25px;
        width: 30%;
    }
    &_position {
        position: absolute;
        margin-top: 1px;
        right: 0px;
        width: 35%;
    }
    &__d-flex {
        display: flex;
        position: relative;
    }
    &-btn {
        margin-top: 18px;
        padding: 13px 37px;
        background: #D2E3E8;
        border-radius: 6px;

        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #2B3037;
        border: none;
    } 
    &-btn__partner {
        border: none;
        padding: 27px 25px 32px 29px;
        background: #DAE8F0;
        border-radius: 6px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
        transition: all 1s;
        cursor: pointer;
        &:hover {
            background: #fff;
        }
    }
    &__name {
        position: absolute;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #fff;
    }
    &__request {
        display: flex;
        &-text {
            margin-left: 26px;
            width: 40%;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            color: #2B3037;
        }
        &-link {
            border-bottom: 1px solid #2B3037;
        }
    }
    &-ml-50 {
        margin-left: 50px;
    }
    &_js-error {
        color: #FF4444;
    }
    input[type="checkbox"]:checked, 
    input[type="checkbox"]:not(:checked), 
    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked) 
    {
        position: absolute;
    // left: -9999px;
    }

    input[type="checkbox"]:checked , 
    input[type="checkbox"]:not(:checked) , 
    input[type="radio"]:checked, 
    input[type="radio"]:not(:checked)  {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
    }
        input[type="checkbox"]:checked:before {
            content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        border: none;
        background: #D2E3E8;
        }
        
    input[type="checkbox"]:checked:before, 
    input[type="checkbox"]:not(:checked) :before {
        border-radius: 2px;
    }
    input[type="checkbox"]:checked :after, 
    input[type="checkbox"]:not(:checked) :after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    input[type="checkbox"]:checked:after, 
    input[type="checkbox"]:not(:checked):after {
        left: 3px;
        top: 4px;
        width: 10px;
        height: 5px;
        border-radius: 1px;
        border-left: 4px solid #e145a3;
        border-bottom: 4px solid #e145a3;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

}
.show {
    display: block;
}
.hide {
    display: none;
}
.form-step0 {
    display: block;
}
.form-step1 {
    display: none;
    .auth-form-confidentiality__text {
        margin-left: 0;
    }
}
.form-succes {
    display: none;
    &-request-img {
        text-align: center;
        justify-content: center;
        img {
            width: 20%;
        }
    }
    &-request-text {
        margin-top: 22px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }
}

@media  (max-width: 640px) {
    .auth-form {
        &-btn__partner {
            padding: 20px;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
        }
        &__request {
            display: block;
            &-text {
                margin-left: 0;
                margin-top: 10px;
                width: 100%;
            }
        }
        &__d-flex {
            display: block;
        }
        &_inputs-resize {
            width: 100%;
        }
        &_position {
            left: 0;
            top: 0;
            width: 100%;
        }
    }
}