.auth-menu {
    display: none;
}
@media  (max-width: 640px) {
    .auth-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 60vh;
        z-index: 10;
        top: 0;
        left: 0;
        &__content {
            position: relative;
            width: 100%;
            height: 100%;
            transition: all .6s;
            z-index: 10;
            top: 0;
            background: #A4C6D1;
            padding-top:25px;
        }
        &__overlay {
            //position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 42vh;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__active {
            display: block;
        }
        &__d-flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 61px;
        }
        &-close {
            margin-top: 10px;
        }
    }
}