.carousel {
    margin-top: 100px;
    &-wrapper {
        margin-top: 47px;
        width: 100%;
    }
    &-wrapper__item {
        margin-top: 47px;
        display: flex;
    }
    &-content {
        position: relative;
        //width: 325px!important;
        margin-right: 21px;
        //max-width: 300px;
        display: block!important;
    }
    &-size {
        width: 100%;
    }
    &-content__item {
        display: block;
        position: relative;
        margin-right: 21px;
        //width: 250px!important;
        //margin-right: 21px;
        &:first-child {
            //margin-right: 0;
        }
    }
    &-sub__item {
        img {
            width: 100%;
        }
    }
    .link-w {
        width: 80%;
    }
    &-sub__item {
       // width: 300px;
        //width: 20vw;
    }
    &-sub__content {
        width: auto;
        height: 100%;
        position: relative;
        display: block;
        flex-direction: row;
    }
    &-arrow {
        display: flex;
        position: absolute;
        right: 0;
        top: -110px;
        cursor: pointer;
    }
    .a-prev {
        right: 80px;
    }
    &-subtitle {
        position: absolute;
        bottom: 32px;
        padding-left: 20px;
        width: 80%;

        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.2;
        color: #2B3037;
    }
    &-subtitle__light {
        position: absolute;
        padding: 16px 22px;
        width: 80%;

        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.2;
        color: #fff;
    }
    .w-100 {
        width: 100%;
    }
    &-price {
        position: absolute;
        bottom: 24px;
        padding-left: 22px;
        display: flex;
        &-item {
            width: 70%;
            margin-right: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 1.2;

            color: #FFFFFF;
        }
        a {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media  (max-width: 1200px) {
    .carousel {
        .title-h2 {
            font-size: 40px;
        }
        .a-prev {
            right: 70px;
        }
        &-arrow {
            top: -100px;
        }
        &-sub__item {
            //width: 300px;
            //width: 20vw;
        }
        &-subtitle {
            bottom: 22px;
            padding-left: 20px;
            width: 80%;
            font-size: 20px;
        }
        &-content {
            max-width: 258px;
        }
        &-sub__item {
            width: 100%;
            img {
                width: 100%;
                height: 50%;
            }
        }
        &-content__item {
            max-width: 370px;
        }
        &-inside {
            width: 100%;
            height: 280px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-subtitle__light {
            font-size: 24px;
            padding: 10px 15px;
        }
        &-price {
            padding-left: 15px;
            &-item {
                font-size: 16px;
            }
        }
    }
}
@media  (max-width: 960px) {
    .carousel {
        .title-h2 {
            width: 65%;
        }
        &-content {
            max-width: 220px;
            margin-right: 10px;
        }
        &-content__item {
            margin-right: 10px;
        }
        &-subtitle {
            padding-left: 10px;
            bottom: 10px;
            width: 90%;
        }
        &-sub__item {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-content__item {
            max-width: 300px;
        }
        &-inside {
            width: 100%;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-subtitle__light {
            font-size: 18px;
            width: 50%;
            padding: 10px 15px;
        }
        &-price {
            bottom: 10px;
            padding-left: 15px;
            &-item {
                font-size: 16px;
            }
            &-dn {
                display: none;
            }
        }
    }
}
@media  (max-width: 640px) {
    .carousel {
        margin-top: 80px;
        .title-h2 {
           font-size: 30px;
        }
        &-wrapper {
            margin-top: 20px;
        }
        &-wrapper__item {
            margin-top: 20px;
            .carousel-arrow {
                top: -80px;
            }
        }
        &-subtitle {
            font-size: 18px;
            width: 70%;
        }
        &-content {
            max-width: 140px;
            margin-right: 10px;
        }
        &-content__item {
            max-width: 220px;
        }
        &-inside {
            width: 100%;
            height: 250px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-subtitle__light {
            width: 70%;
        }
        .w-100 {
            width: 150%;
        }
    }
}