.feedback-block {
    margin-top: 100px;
    &-bg {  
        background: #A4C6D1;
        width: 100%;
        height: auto;
        padding: 70px 52px;
        position: relative;
    }
    &-descr {
        width: 45%;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 67px;

        color: #2B3037;
        a {
            color: #2B3037;
            text-decoration: none;
        }
    }
    &-d__flex {
        display: flex;
        justify-content: space-between;
    }
    &-position {
        position: absolute;
        bottom: 110px;
        right: 50px;
    }
    &-btn {
        display: block;
        height: auto;
        text-align: center;

        padding: 30px 71px;
        border: none;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 54px;
        background: #DAE8F0;
        border-radius: 6px;
        transition: all 1s;
        cursor: pointer;
        &:hover {
            background: #fff;
        }
    }
}

@media  (max-width: 1200px) {
    .feedback-block {
        &-bg {
            padding: 70px 40px;
        }
        &-d__flex {
            display: block;
        }
        &-descr {
            width: 100%;
            font-size: 41px;
            line-height: 1.3;
        }
        &-position {
           position: relative;
           top: 36px;
            bottom: 0px;
            right: 0;
            margin-bottom: 108px;
        }
        &-btn {
            padding: 30px 28px;
            font-size: 40px;
            line-height: 47px;
        }
    }
}
@media  (max-width: 960px) {
    .feedback-block {
        &-descr {
            width: 80%;
            font-size: 30px;
            line-height: 1.3;
        }
        &-position {
            top: 29px;
            margin-bottom: 62px;
        }
        &-btn {
            padding: 18px 24px;
            font-size: 30px;
            line-height: 35px;
        }
    }
}
@media  (max-width: 640px) {
    .feedback-block {
        margin-top: 80px;
        &-bg {
            padding: 30px 16px;
        }
        &-descr {
            width: 85%;
            font-size: 26px;
            line-height: 1.3;
        }
        &-position {
            top: 33px;
            margin-bottom: 46px;
        }
        &-btn {
            padding: 15px 23px;
            font-size: 26px;
            line-height: 30px;
        }
    }
}