.footer {
    margin-top: 30px;
    padding-bottom: 30px;
    &__d-flex {
        display: flex;
        justify-content: space-between;
    }
    &-desrc {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #2B3037;
        text-decoration: none;
        transition: all 1s;
        cursor: pointer;
        &:hover {
            color: #00000081;
        }
    }
    &-product {
        display: flex;
    }
    &-mr {
        margin-right: 6px;
    }
    &-logo {
        margin-top: 3px;
        transition: all 1s;
        cursor: pointer;
        &:hover {
            color: #00000081;
        }
    }
}
@media  (max-width: 640px) {
    .footer {
        padding-bottom: 39px;
        &-desrc {
            font-size: 18px;
            line-height: 21px;
        }
    }
}