.header {
    padding-top: 25px;
    &__d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-group {
        display: flex;
    }
    &-block-right {
        padding-top: 10px;
        display: flex;
        a {
            display: block;
            text-decoration: none;
            margin-right: 30px;
            color: #2B3037;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            transition: all 1s;
            cursor: pointer;
            &:hover {
                color: #00000098;
            }
        }
    }
    &-group-lk {
        display: block;
        text-decoration: none;
        margin-right: 30px;
        color: #2B3037;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        transition: all 1s;
        cursor: pointer;
        &:hover {
            color: #00000098;
        }
    }
}

.promo {
    background: url('../img/bg-promo.png') center no-repeat;
    max-width: 100vw;
    min-height: 700px;
    background-size: cover;
    position: relative;
    &__wrapper {
       margin-top: 128px;
       height: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    }
    &-h1 {
        width: 50%;
        font-style: normal;
        font-weight: bold;
        font-size: 90px;
        line-height: 98px;
        color: #fff;
    }
    &-position__btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &-btn{
        cursor: pointer;
        padding: 19px 30px;
        border: none;
        height: auto;
        text-align: center;
        background: #FFFFFF;
        color: #2B3037;
        border-radius: 6px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        transition: all 1s;
        &:hover {
            background: #DAE8F0;
        }
    }
}
@media  (max-width: 1200px) {
    .promo {
        min-height: 600px;
        &-h1 {
            width: 50%;
            font-size: 70px;
            line-height: 1.2;
        }
        &__wrapper {
            margin-top: 150px;
        }
    }
}
@media  (max-width: 960px) {
    .header {
        &__d-flex {
            display: block;
            align-items: center;
        }
        &-block-right {
            padding-top: 15px;
            justify-content: space-between;
            a {
                margin-right: 0;
                margin-left: 30px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        &-group-lk {
            margin-right: 0;
        }
    }
    .promo {
        min-height: 600px;
        background-size: auto 120%;
        background-position-x: 35%;
        background-position-y: -115px;
        &__wrapper {
            display: block;
        }
        &-h1 {
            width: 100%;
            font-size: 60px;
            line-height: 65px;
        }
        &-position__btn {
            position: relative;
            margin-top: 30px;
            left: 0;
            bottom: 0;
        }
        &-btn {
            padding: 19px 30px;
            font-size: 30px;
        }
    }
}
@media  (max-width: 640px) {
    .header {
        &-group {
            display: block;
        }
        &-block-right {
            padding-top: 15px;
            a {
                font-size: 18px;
                margin-left: 0;
                margin-bottom: 5px;
            }
        }
        &-group-lk {
            font-size: 18px;
            margin-left: 0;
            margin-bottom: 5px;
            margin-right: 0;
        }
    }
    .promo {
        min-height: 600px;
        background-size: auto  100%;
        background-position-x: 36%;
        background-position-y: -20px;
        &__wrapper {
            margin-top: 93px;
        }
        &-h1 {
            width: 100%;
            font-size: 40px;
            line-height: 1.2;
        }
        &-btn {
            font-size: 24px;
        }
    }
}