.feedback-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    &__dialog {
        max-width: 700px;
        margin: 53px auto;
    }
    &__content {
        position: relative;
        width: 100%;
        padding: 73px 70px;
        background: #A4C6D1;
        min-height: 80vh;
        overflow-y: auto;
    }
    &-close {
        position: absolute;
        top: 21px;
        right: 21px;
        cursor: pointer;
    }
    &-step0 {
        //display: none;
    }
    &-succes {
        display: none;
    }
    &-succes__content {
        display: flex;
    }
    &-succes__text {
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        color: #fff;
    }
    &-dn {
        display: none;
    }
    &-unsuccessful {
       display: none;
        &__text {
            display: flex;
            margin-left: 61px;
        }
        &__text-error {
            display: block;
            width: 70%;
            margin-left: 21px;
            margin-bottom: 20px;
            color: #FF4444;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 1.3;
        }
        &-btn {
            margin-left: 21px;
            display: inline;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            font-size: 30px;
            line-height: 1.3;
            border-bottom: 1px solid #fff;
        }
    }
}
@media  (max-width: 640px) {
    .feedback-modal {
        &__content {
            position: relative;
            width: 100%;
            padding: 25px 10px;
        }
        &__dialog {
            margin: 0;
        }
        &-dn {
           display: block;
        }
    }
}