.present {
    margin-top: 45px;
    &__d-flex {
        display: flex;
        justify-content: space-between;
    }
    &-first {
        display: flex;
        margin-right: 150px;
    }
    &-secondry {
        display: flex;
    }
    &-icon {
        img {
           width: 100%;
        }
    }
    &-type__text {
        width: 50%;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 1.2;
        color: #2B3037;
        margin-left: 26px;
        margin-top: 60px;
    }
}

@media  (max-width: 1200px) {
    .present {
        margin-top: 48px;
        &-first {
            margin-right: 50px;
        }
        &-icon {
            img {
               width: 134px;
            }
        }
        &-type__text {
            font-size: 24px;
            margin-left: 13px;
            margin-top: 30px;
            width: 100%;
        }
    }
}
@media  (max-width: 960px) {
    .present {
        &-first {
            margin-right: 50px;
        }
        &-icon {
            img {
               width: 123px;
            }
        }
        &-type__text {
            font-size: 20px;
            margin-top: 10px;
        }
    }
}
@media  (max-width: 640px) {
    .present {
        margin-top: 0;
        &__d-flex {
            display: block;
        }
        &-icon {
            img {
               width: 112px;
            }
        }
    }
}