
@import './header';
@import './present';
@import './carousel';
@import './slick';
@import './feedback-block';
@import './footer';
@import './auth-menu';
@import './auth-form';
@import './modal';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.content-bg__primary {
    background: #DAE8F0;
}
.title-h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2;
    color: #2B3037;
}

@media  (max-width: 1389px) {
    .container {
        margin: 0 50px;
    }
}

@media  (max-width: 1200px) {
    .container {
        margin: 0 40px;
    }
}
@media  (max-width: 960px) {
    .container {
        margin: 0 20px;
    }
}
@media  (max-width: 640px) {
    .container {
        margin: 0 10px;
    }
}